* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.continer {
  width:1280px ;
  height: 593px ;
  overflow: hidden;
}

.top{
  position: relative;
  height: 50%;
  background: linear-gradient(#fee140 , #921818 90%);
  overflow: hidden;
}

.quyosh {
  position: absolute;
  left: 50%;
  bottom: -40%;
  transform: translateX(-50% );
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(yellow,red);
  transform-style: preserve-3d;
  animation-name: quyosh;
  animation-duration: 15s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode:both ;
}

@keyframes quyosh {
  0% {
    left: 50%;
    bottom: -40%;
    transform: translateX(-50% );
  }
  100% {
    bottom: 20%;
  }
}

/* bottom  */
.bottom {
  position: relative;
  height: 50%;
  background: linear-gradient( #8e2727 , rgb(21, 4, 81) 40% )  ;
}

.shark_1 {
  position: absolute;
  left: 20%;
  bottom: -10%;
  width: 180px;
  height: 100px;
  background-color: rgb(8, 8, 54);
  transform: rotate(-45deg);
}

.shark_2 {
  position: absolute;
  left: 15%;
  bottom: -25%;
  width: 260px;
  height: 135px;
  background-color: rgb(21, 4, 81);
}

.shark {
  position: absolute;
  left: 90%;
  width: 400px;
  height: 300px;
  transform-style: preserve-3d;
  animation-name: shark;
  animation-duration: 10s;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode:initial ;
  transform: rotateY(0deg);
}

@keyframes shark {
  0% {
    left: 90%;
}
  100% {
    left: -40%;
  }
}